<odoo>
  <data>
    

    

    

    <!-- For Products view action -->

    <record model="ir.actions.act_window" id="project_action_window">
      <field name="name">Product Catalog</field>
      <field name="res_model">product.list</field>
      <field name="view_mode">kanban,tree,form,calendar</field>
    </record>


    <!-- For Warehouse view action -->

    <record model="ir.actions.act_window" id="warehouse_action_window">
      <field name="name">Warehouse Catalog</field>
      <field name="res_model">warehouse.list</field>
      <field name="view_mode">tree,form,graph</field>
    </record>
    
    <!-- Parent -->

    <menuitem name="Lockheed Inventory" 
     web_icon="mini_project_01, static/description/icon.png" 
     id="mini_menu_root"/>

    <!-- menu categories -->

    <menuitem name="Overview"  
     action="project_action_window" 
     id="mini_project_01.menu_1" 
     parent="mini_menu_root"/>

    <menuitem name="Product"   
     id="mini_project_01.menu_2" 
     parent="mini_menu_root"/>
     
    <menuitem name="Warehouse"   
     id="mini_project_01.menu_3" 
     parent="mini_menu_root"/>


<!-- class inhertance -->
    <menuitem id="menu_hr_root" 
     name="Employees" 
     action="hr.open_view_employee_list_my" 
     parent="mini_menu_root"/>

    

    
    <menuitem name="Product List" 
     id="mini_project_01.menu_1_list" 
     parent="mini_project_01.menu_2"
     action="project_action_window"/>

    <menuitem name="WareHouse List" 
     id="mini_project_01.menu_3_list" 
     parent="mini_project_01.menu_3"
     action="warehouse_action_window"/>
   

  </data>
</odoo>